<!--The content below is only a placeholder and can be replaced.-->
<div>

    <router-outlet >
 <!--     <header>
        <div class="row">
          <div class="col-md-8"></div>
            <div class="col-md-4">
              <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav mr-auto cursor ">
                    <a class="nav-item nav-link" data-toggle="tooltip" data-placement="bottom" title="hjhjhg &nbsp; gvfdg dfgdfg fdgdg dggftg">What We Do</a>
                    <a class="nav-item nav-link">About</a>
                    <a class="nav-item nav-link">Work</a>
                    <a class="nav-item nav-link">Contact Us</a>
                    <a class="nav-item nav-link">Blog</a>
    
                  </div>
                </div>
              </nav>
            </div>
        </div>
      </header> -->
    </router-outlet>
  <ngx-spinner size="medium"><p style="color:#fff">Please Wait...</p></ngx-spinner>

</div>
