<div class="row">
    <div class="col-md-12">




        <header>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav mr-auto">

                                <button (click)="houserequestlist()" class="btn btn-outline-light  logoutbttn">
                                    <b>List house request</b>
                                </button>

                                <button (click)=" houserrequestplanapproval()" class=" btn btn-outline-light  logoutbttn">
                                    <b>Approve Plans</b>
                                </button>

                                <button class="btn btn-outline-light  logoutbttn  " (click)="listuserrequestbidapproval()">
                                    <b>Bid Request</b>
                                </button>

                                <button (click)="houserequeststatus()" class="btn btn-outline-light active  logoutbttn">
                                    <b>Payment Request</b>
                                </button>



                                <button class="btn btn-outline-light logoutbttn" (click)="completedHouselist()">
                                    <b>Completed House</b>
                                </button>

                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-md-2">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav mr-auto">


                                <button (click)="logout()" class="btn btn-outline-light  logoutbttn">logout</button>

                            </div>
                        </div>
                    </nav>
                </div>





            </div>
        </header>
    </div>
</div>
































<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 form-div">


        <div class="table table-striped">

                <p  class="viewstatushouse" *ngIf="!values||values.length==0">NO DATA FOUND</p>
            <table *ngIf="values.length>0" class="table table-hover ">
                <thead class="thead-dark">
                    <tr>
                        <th>User Id</th>
                        <th>FundAllocated</th>



                        <th>BalanceAmountToPay</th>

                        <th>Status</th>

                        <th></th>
                        <th> </th>

                    </tr>
                </thead>

                <tr *ngFor="let value of values ">
                    <td>
                        <p>{{value.UserID}}</p>
                    </td>
                    <td>
                        <p>{{value.FundAllocated}}</p>
                    </td>

                    <td>
                        <p>{{value.BalanceAmountToPay}}</p>
                    </td>
                    <td>
                        <p>{{value.Status}}</p>
                    </td>

                    <td>
                        <button type="button" class="btn" (click)="open(content,value)">Status</button>
                    </td>



                </tr>
            </table>
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="modal-body">
                        <form [formGroup]="modalform">
                            <div class="form-group">
                                <table>


                                    <tr>
                                        <th>
                                            <label>User ID</label>
                                        </th>
                                        <td>
                                            <input type="text" value="{{currentRequest.HouseRequestID}}" formControlName='email'>
                                        </td>
                                        <br/>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>Construction Company Id</label>
                                        </th>
                                        <td>
                                            <input type="text" value="{{currentRequest.ApprovedBidConstructionCompany}}" formControlName='email1'>
                                        </td>
                                        <br/>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="exampleInputName1">Phase</label>
                                        </th>
                                        <td>
                                            <select class="form-control" (change)="roleChanged1($event.target.value)">
                                                <option value=""> Select </option>
                                                <option value="First"> First Phase Completed</option>
                                                <option value="Second">Second Phase Completed</option>
                                                <option value="Third"> Third Phase Completed</option>


                                            </select>
                                            <br/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>FirstphasePayment</label>
                                        </th>
                                        <td>
                                            <input type="text " placeholder="Enter amount" formControlName='amount'> </td>
                                    </tr>
                                </table>
                                <br/>

                                <button class="btn" (click)="userAccept()">Submit</button> &nbsp;&nbsp;&nbsp;
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                </div>
            </ng-template>
           

        </div>