<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <button (click)="logout()" class="btn btn-outline-light  logoutbttn">logout</button>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 form-div">


        <div class="table table-striped">
            <div>
                    <p  class="viewstatushouse" *ngIf="!values||values.length==0">No approval pending</p>
                <table *ngIf="values.length>0" class="table table-hover">

                    <thead class="thead-dark">
                        <tr>
                            <th>HouseLocation</th>
                            <th>HouseNumber</th>
                            <th>HouseRequestID</th>
                            <th>PropertyID</th>
                            <th>UserID</th>
                            <th></th>


                        </tr>
                    </thead>

                    <tr *ngFor="let value of values ">
                        <td>
                            <p>{{value.HouseLocation}}</p>
                        </td>
                        <td>
                            <p>{{value.HouseNumber}}</p>
                        </td>
                        <td>
                            <p>{{value.HouseRequestID}}</p>
                        </td>
                        <td>
                            <p>{{value.PropertyID}}</p>
                        </td>
                        <td>
                            <p>{{value.UserID}}</p>
                        </td>

                        <td>
                            <button type="button" class="btn" (click)="open(content,value)">Update</button>
                        </td>


                    </tr>
                </table>






                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Update details</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="modal-body">
                            <form [formGroup]="modalform">
                                <div class="form-group">
                                    <table>
                                        <tr>
                                            <th>User ID</th>
                                            <td>
                                                <input type="text" value="{{currentRequest.HouseRequestID}}" formControlName='email'> </td>
                                        </tr>
                                        <br/>
                                        <tr>
                                            <th>Ploat Area</th>
                                            <td>
                                                <input type="text" placeholder="Enter Plot Area" formControlName='plotarea'> </td>
                                        </tr>
                                        <br/>
                                        <tr>
                                            <th>Contruction Area</th>
                                            <td>
                                                <input type="text" placeholder="Enter Construction Area" formControlName='constructionarea'> </td>
                                        </tr>
                                        <br/>
                                       
                                        <br/>
                                        <tr>
                                            <th></th>
                                            <td>
                                                <button class="btn" (click)="userAccept()">Submit</button>
                                            </td>

                                        </tr>
                                    </table>


                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                      
                    </div>
                </ng-template>




            </div>