<header>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">

            <button (click)="houserequestlist()" class=" btn btn-outline-light  logoutbttn">
              <b>List house request</b>
            </button>

            <button (click)="acceptrejectalllist()" class="btn btn-outline-light  logoutbttn">
              <b>Approve Plans</b>
            </button>

            <button class="btn btn-outline-light  logoutbttn " (click)="bidRequest()">
              <b>Bid Request</b>
            </button>

            <button (click)="houserequeststatus()" class="btn btn-outline-light  logoutbttn">
              <b>Payment Request</b>
            </button>



            <button class="btn btn-outline-light  logoutbttn" (click)="completedHouselist()">
              <b>Completed House</b>
            </button>

          </div>
        </div>
      </nav>
    </div>
    <div class="col-md-2">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">


            <button (click)="logout()" class="btn btn-outline-light  logoutbttn">logout</button>

          </div>
        </div>
      </nav>
    </div>





  </div>
</header>