<div class="row">
    <div class="col-md-12">

        <header>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav mr-auto">

                                <button (click)="houserequestlist()" class=" btn btn-outline-light  logoutbttn">
                                    <b>List house request</b>
                                </button>

                                <button (click)=" houserrequestplanapproval()" class="active btn btn-outline-light  logoutbttn">
                                    <b>Approve Plans</b>
                                </button>

                                <button class="btn btn-outline-light logoutbttn " (click)="listuserrequestbidapproval()">
                                    <b>Bid Request</b>
                                </button>

                                <button (click)="houserequeststatus()" class="btn btn-outline-light   logoutbttn">
                                    <b>Payment Request</b>
                                </button>



                                <button class="btn btn-outline-light  logoutbttn" (click)="completedHouselist()">
                                    <b>Completed House</b>
                                </button>

                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-md-2">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav mr-auto">


                                <button (click)="logout()" class="btn btn-outline-light  logoutbttn">logout</button>

                            </div>
                        </div>
                    </nav>
                </div>





            </div>
        </header>
    </div>
</div>



















<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 form-div">


        <div class="table table-striped">


            <table *ngIf="values.length>0" class="table table-hover ">
                <thead class="thead-dark">
                    <tr>
                        <th>Architect ID</th>
                        <th>House Request ID</th>
                        <th>PlanDetails</th>


                        <th> </th>

                    </tr>
                </thead>

                <tr *ngFor="let value of values ">
                    <td>
                        <p>{{value.ArchitectID}}</p>
                    </td>
                    <td>
                        <p>{{value.HouseRequestID}}</p>
                    </td>
                    <td>
                        <p>{{value.PlanDetails}}</p>
                    </td>

                    <td>
                        <button type="button" class="btn" (click)="open(content,value)">Status</button>
                    </td>



                </tr>
            </table>
            <ng-template #content let-modal>
                <div class="modal-header">

                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="modalform">
                        <div class="form-group">
                            <table>
                                <tr>
                                    <th>
                                        <label>Costumer ID</label>
                                    </th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <td>
                                        <input type="text" value="{{currentRequest.HouseRequestID}}" formControlName='email'> </td>
                                    <br/>
                                </tr>
                                <tr>
                                    <th>
                                        <label>Architect ID</label>
                                    </th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <td>
                                        <input type="text" value="{{currentRequest.ArchitectID}}" formControlName='email1'> </td>
                                    <br/>
                                </tr>
                            </table>


                            <button class="btn" (click)=" userAccept()">Accept</button> &nbsp;&nbsp;&nbsp;
                            <button class="btn" (click)="userReject()"> Reject</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-light" (click)="houserrequestplanapproval()" (click)="modal.close('Close click')">Close</button>
                </div>
            </ng-template>

            
              
              
       
        </div>